:root {
    --mainColor: #0d0907;
    --textColor: #ffa500;
    --mainTextColor: #333333;
    --paragrafColor: #555;
    --shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    --boxShadow: 0 0 2px rgba(255, 255, 255, 0.5);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: none;
}

body {
    overflow-x: hidden;
}

/* Header Section */
header {
    font-family: "Montserrat";
    background-color: black;
    height: auto;
    width: 100%;
    position: relative;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
}

nav img {
    height: 30px;
}

.navbar-menu {
    display: none;
    width: 100%;
    height: auto;
    flex-direction: column;
    margin-top: 15px;
    font-weight: 550;
}

.navbar-menu a {
    text-decoration: none;
    color: white;
    padding: 10px 5px;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}

.navbar-menu a:hover {
    color: var(--textColor);
}

.contact {
    display: none;
}

.dropdown {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
}

.navbar-menu.hidden {
    display: flex;
}

.dropdown-content.dropdown-hidden {
    display: none;
}

/* Hero Section */
.hero {
    font-family: "Poppins", sans-serif;
    min-height: 100svh;
    width: 100%;
    background-image: url("assets/img/background.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-text {
    will-change: transform, opacity;
    text-align: center;
    padding: 0 10px;
    text-shadow: var(--shadow);
}

.hero-text span {
    color: var(--textColor);
    position: relative;
}

.hero-text .terlengkap {
    color: #222222;
}

.hero-text h1 {
    color: #222222;
    font-size: 1.2rem;
}

.hero-text p {
    font-weight: 550;
    color: #555;
    font-size: 0.8rem;
    margin: 20px 0;
}

.hero-cta {
    display: flex;
    justify-content: center;
    gap: 0 10px;
}

.hero-cta a {
    font-size: 0.9rem;
    text-decoration: none;
    background-color: var(--textColor);
    box-shadow: var(--boxShadow);
    font-weight: 550;
    color: white;
    padding: 8px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.pemesanan {
    opacity: 0;
    transform: scale(0.9);
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    background-color: #faf3e0;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    z-index: 9999;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.pemesanan.pop-up {
    opacity: 1;
    transform: translate(-50%, -60%) scale(1);
    pointer-events: auto;
    -webkit-transform: translate(-50%, -60%) scale(1);
    -moz-transform: translate(-50%, -60%) scale(1);
    -ms-transform: translate(-50%, -60%) scale(1);
    -o-transform: translate(-50%, -60%) scale(1);
}

.pemesanan-header {
    border-bottom: 2px solid #e4dccf;
    padding: 10px 0;
}

.pemesanan-header h2 {
    font-family: "Cairo", sans-serif;
    font-size: 1rem;
    text-align: center;
    letter-spacing: 1px;
}

.pemesanan-text {
    padding: 0 10px;
    color: #5f5f5f;
    font-size: 0.8rem;
    text-align: center;
    width: 85%;
    font-weight: 550;
    margin: auto;
}

.pemesanan-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pemesanan-menu a {
    text-decoration: none;
    font-weight: 550;
    padding: 0 0 10px 0;
}

.pemesanan-menu #shopee {
    color: #f1582c;
}

.pemesanan-menu #tokopedia {
    color: #25d366;
}

.pemesanan-menu #whatsapp {
    color: #25d366;
}

/* Promo Card Section */
.promo {
    position: relative;
    height: auto;
    display: block;
}

.promo-card {
    width: 90%;
    overflow: hidden;
    border-radius: 10px;
    background-image: linear-gradient(
            to bottom,
            rgb(139, 69, 19),
            rgba(139, 69, 19, 0.8),
            transparent
        ),
        url("assets/img/background-promo.webp");
    background-size: cover;
    background-position: center;
    padding: 15px;
    display: flex;
    justify-content: center;
    margin: 2rem auto;
}

.promo-content {
    font-family: "Cairo", sans-serif;
    text-shadow: var(--shadow);
    font-weight: 550;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    z-index: 1;
}

.promo-content p {
    font-size: 0.9rem;
}

.promo-content small {
    font-size: 0.6rem;
}

.promo-content a {
    font-size: 0.8rem;
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: max-content;
    padding: 10px;
}

.promo-items {
    opacity: 0;
    position: relative;
    margin: auto;
    background-image: linear-gradient(            to right,            rgba(92, 44, 6, 0.9),            rgba(92, 44, 6, 0)        ),        url("assets/img/promo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 90%;
    max-height: 0;
    padding: 10px;
    border-radius: 10px;
    transform: translateY(-290px);
    z-index: -1;
    transition: all 0.3s ease-in;
}

.promo-items-text {
    font-family: "Manrope";
    color: white;
    text-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    gap: 15px 0;
}

.promo-items-text h1 {
    font-size: 1rem;
    font-style: oblique;
}

.promo-items-text strong {
    color: var(--textColor);
}

.promo-items-text h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
}

.promo-items-text p {
    position: relative;
    font-size: 0.8rem;
    display: block;
    font-weight: 600;
    padding-left: 15px;
}

.promo-items-text p::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: var(--textColor);
    top: 25%;
    left: 0;
}

.promo-items.promo-pop-up {
    position: relative;
    opacity: 1;
    z-index: 99;
    min-height: max-content;
    transform: translateY(-0px);
    -webkit-transform: translateY(-0px);
    -moz-transform: translateY(-0px);
    -ms-transform: translateY(-0px);
    -o-transform: translateY(-0px);
}

/* Best Seller Section */
.glass-background {
    background: rgba(255, 255, 255, 0.4); /* Putih transparan */
    backdrop-filter: blur(10px); /* Efek blur */
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

.best-seller {
    height: auto;
    padding: 15px;
}

.best-seller-header {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px 0;
}

.best-seller-title {
    display: flex;
    flex-direction: column;
}

.best-seller-title p {
    position: relative;
    font-size: 0.8rem;
    font-weight: 400;
    padding-left: 17px;
    letter-spacing: 1px;
}

.best-seller-title p::before {
    content: "";
    position: absolute;
    background-color: var(--textColor);
    height: 2px;
    width: 10px;
    left: 1%;
    top: 50%;
}

.best-seller-title h1 {
    font-family: "Poppins";
    font-weight: 550;
    font-style: oblique;
}

.best-seller strong {
    font-weight: 550;
    color: #ffa500;
}

.best-seller-header a {
    display: block;
    width: max-content;
    font-size: 0.8rem;
    text-decoration: none;
    font-weight: 500;
    background-color: transparent;
    color: black;
    padding: 10px;
    border: 2px solid var(--textColor);
    border-radius: 5px;
    transition: all 0.25s ease-in-out;
}

.best-seller-header a:hover {
    background-color: var(--textColor);
    color: white;
    transform: scale(1.1);
}

.best-seller-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.best-seller-cards {
    font-family: "Be Vietnam Pro";
    position: relative;
    width: 45%;
    margin: 1rem 0 0 0;
    box-shadow: var(--shadow);
    border-radius: 5px;
}

.best-seller-cards img {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}

.best-seller-cards-text {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}

.best-seller-cards-text p {
    font-size: 0.8rem;
}

.best-seller-cards-text h1 {
    display: block;
    width: 100%;
    font-size: 1rem;
}

.best-seller-cards-text img {
    width: 20px;
    height: auto;
}

.best-seller-cards-text a {
    display: flex;
    align-items: center;
    gap: 0 5px;
    color: white;
    font-weight: 550;
    font-size: 0.8rem;
    text-decoration: none;
    background-color: var(--textColor);
    padding: 5px;
    border-radius: 5px;
}

/* Ukuran Handphone Umum */
@media only screen and (min-width: 361px) and (max-width: 480px) {
    .hero-text p {
        font-size: 0.9rem;
    }
}

/* Ukuran Handphone Sedang */
@media only screen and (min-width: 481px) and (max-width: 576px) {
    .hero-text h1 {
        font-size: 1.3rem;
        width: 90%;
        margin: auto;
    }

    .hero-text p {
        font-size: 0.95rem;
        width: 90%;
        margin: 20px auto;
    }
}

/* Ukuran Handphone Besar */
@media only screen and (min-width: 577px) and (max-width: 768px) {
    /* Hero Section di Handphone Besar */
    .hero-text h1 {
        font-size: 1.45rem;
        width: 85%;
        margin: auto;
    }

    .hero-text p {
        font-size: 1.05rem;
        width: 85%;
        margin: 20px auto;
    }

    .pemesanan {
        width: 50%;
    }
}

/* Ukuran Tablet */
@media only screen and (min-width: 769px) and (max-width: 1023px) {
    /* Hero Section di Tablet */
    .hero-text h1 {
        font-size: 1.75rem;
        width: 75%;
        margin: auto;
    }

    .hero-text p {
        width: 70%;
        font-size: 1.15rem;
        margin: 20px auto;
    }

    .hero-cta a {
        font-size: 1.15rem;
    }

    .pemesanan {
        width: 50%;
    }

    /* Promo Section di Ukuran Tablet */
    .promo-card {
        justify-content: start;
    }

    .promo-content p {
        font-size: 1.05rem;
    }

    .promo-content h1 {
        font-size: 1.5rem;
        width: 70%;
        line-height: 35px;
    }

    .promo-content small {
        font-size: 0.8rem;
        font-weight: 600;
    }
}

/* Ukuran Laptop */
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    /* Navbar Section on Laptop */
    .hamburger-menu {
        display: none;
    }

    nav {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .navbar-menu {
        display: flex;
        flex-direction: row;
        gap: 0 1rem;
        margin: 0;
        width: auto;
    }

    .navbar-menu a {
        padding: 0;
    }

    .dropdown {
        position: relative;
        width: max-content;
        cursor: pointer;
    }

    .dropdown-content {
        background-color: black;
        position: absolute;
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 15px 0;
        width: max-content;
        top: 100%;
        transform: translateY(17px);
        transition: all 0.15s ease-in-out;
        -webkit-transform: translateY(17px);
        -moz-transform: translateY(17px);
        -ms-transform: translateY(17px);
        -o-transform: translateY(17px);
    }

    .dropdown-content.dropdown-hidden {
        transform: translateY(-250px);
    }

    #contact {
        display: none;
    }

    .contact {
        display: block;
    }

    .contact a {
        display: block;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        text-decoration: none;
        color: white;
        background-color: var(--textColor);
        padding: 5px 8px;
        border-radius: 13px;
        transition: all 0.3s ease-in-out;
    }

    .contact a:hover {
        transform: scale(1.1);
    }

    /* Hero Section on Laptop */
    .hero {
        display: flex;
        align-items: start;
        padding: 0 30px;
    }

    .hero-text {
        text-align: left;
    }

    .hero-text h1 {
        font-size: 2.2rem;
        width: 65%;
        line-height: 45px;
    }

    .hero-text p {
        font-size: 1rem;
        width: 55%;
        letter-spacing: 1px;
    }

    .hero-cta {
        padding: 0 10px;
        justify-content: start;
        gap: 0 15px;
    }

    .hero-cta a {
        font-size: 1.2rem;
        display: block;
        transition: all 0.3s ease-in;
    }

    .hero-cta a:hover {
        transform: scale(1.1);
    }

    .pemesanan {
        width: 45%;
        height: 50%;
    }

    .pemesanan-header h2 {
        font-size: 1.35rem;
    }

    .pemesanan-text {
        font-size: 1rem;
    }

    .pemesanan-menu {
        padding-bottom: 15px;
    }

    .pemesanan-menu a {
        display: block;
        font-size: 1.2rem;
        padding: 0 0 10px 0;
        transition: all 0.2s ease-in;
    }

    .pemesanan-menu a:hover {
        transform: scale(1.1);
    }

    /* Promo Section di Laptop */
    .promo {
        height: 100%;
    }

    .promo-card {
        justify-content: start;
    }

    .promo-content p {
        font-size: 1.2rem;
    }

    .promo-content h1 {
        font-size: 1.75rem;
        width: 75%;
        line-height: 35px;
    }

    .promo-content small {
        font-size: 0.9rem;
    }

    .promo-content a {
        font-size: 1.1rem;
        transition: all 0.25s ease;
    }

    .promo-content a:hover {
        background-color: #ffa500;
    }
}

/* Ukuran Desktop Kecil */
@media (min-width: 1367px) {
    body {
        position: relative;
    }

    .hamburger-menu {
        display: none;
    }

    nav {
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 15px 25px;
    }

    .navbar-menu {
        display: flex;
        flex-direction: row;
        gap: 0 1rem;
        margin: 0;
        width: auto;
    }

    .navbar-menu a {
        padding: 0;
    }

    .dropdown {
        position: relative;
        width: max-content;
        cursor: pointer;
    }

    .dropdown-content {
        background-color: black;
        position: absolute;
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 15px 0;
        width: max-content;
        top: 100%;
        transform: translateY(17px);
        transition: all 0.15s ease-in-out;
    }

    .dropdown-content.dropdown-hidden {
        transform: translateY(-250px);
    }

    #contact {
        display: none;
    }

    .contact {
        display: block;
    }

    .contact a {
        display: block;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        text-decoration: none;
        color: white;
        background-color: var(--textColor);
        padding: 5px 8px;
        border-radius: 13px;
        transition: all 0.3s ease-in-out;
    }

    .contact a:hover {
        transform: scale(1.1);
    }

    /* Hero Section on Laptop */
    .hero {
        display: flex;
        align-items: start;
        padding: 0 30px;
    }

    .hero-text {
        text-align: left;
    }

    .hero-text h1 {
        font-size: 2.5rem;
        width: 60%;
        line-height: 45px;
    }

    .hero-text p {
        font-size: 1.253rem;
        width: 55%;
        letter-spacing: 1px;
    }

    .hero-cta {
        padding: 0 10px;
        justify-content: start;
        gap: 0 15px;
    }

    .hero-cta a {
        font-size: 1.2rem;
        display: block;
        transition: all 0.3s ease-in;
    }

    .hero-cta a:hover {
        transform: scale(1.1);
    }

    .pemesanan {
        width: 45%;
        height: 50%;
    }

    .pemesanan-header h2 {
        font-size: 1.35rem;
    }

    .pemesanan-text {
        font-size: 1.5rem;
    }

    .pemesanan-menu {
        padding-bottom: 15px;
    }

    .pemesanan-menu a {
        display: block;
        font-size: 1.5rem;
        padding: 0 0 10px 0;
        transition: all 0.2s ease-in;
    }

    .pemesanan-menu a:hover {
        transform: scale(1.1);
    }

    /* Promo Section di Laptop */
    .promo-card {
        justify-content: start;
    }

    .promo-content p {
        font-size: 1.2rem;
    }

    .promo-content h1 {
        font-size: 1.75rem;
        width: 75%;
        line-height: 35px;
    }

    .promo-content small {
        font-size: 0.9rem;
    }

    .promo-content a {
        font-size: 1.1rem;
        transition: all 0.25s ease;
    }

    .promo-content a:hover {
        background-color: #ffa500;
    }
}
